.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 24, 24);
  background-image: url('images/salad.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 60px;
}

.App-link {
  color: #61dafb;
}

.Card {
  width: 350px;
  /* background-color: lavender; */
  display: inline-flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  padding: 40px;

}

p {
  color: black;
  font-size: 16px;
}

.recipeTitle {
  color: rgb(109, 24, 24);
}

.flip-card {
  width: 100%;
  height: 420px;
  perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;

}

/* Style the front side (fallback if image is missing) */
.front {
  background-color: eggshell;
  color: black;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

/* Style the back side */
.back {
  background-color: eggshell;
  transform: rotateY(180deg);
  overflow: scroll;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}